[submodule "linux"]
	path = linux
	url = https://github.com/tiiuae/pKVM-x86.git
	ignore = all
[submodule "qemu"]
	path = qemu
	url = https://github.com/qemu/qemu.git
	ignore = all
[submodule "crosvm"]
	path = crosvm
	url = https://github.com/MrGeek-zrh/crossvm.git
	ignore = none
[submodule "coreboot"]
	path = coreboot
	url = https://review.coreboot.org/coreboot.git
	ignore = all
[submodule "uefi/shim"]
	path = uefi/shim
	url = https://github.com/rhboot/shim.git
	ignore = all
[submodule "uefi/firmware-open"]
	path = uefi/firmware-open
	url = https://github.com/system76/firmware-open.git
	ignore = all
[submodule "pKVM-IA"]
	path = pKVM-IA
	url = https://github.com/MrGeek-zrh/pKVM-IA.git
	ignore = none
[submodule "handoff-docs"]
	path = handoff-docs
	url = git@github.com:pKVM-DEV/DOCs.git
	ignore = none
