# macOS 资源叉文件（Linux 上无用）
._*

/buildtools
/images
/refs
/qemudebug.log
/build
/build-host
/build-guest
/DOCS/tmp
/pkvm-ia-guest
/pkvm-v6.18
/pvVMCS-POC-v6.12
/ubuntu
*.qcow2
*.deb
*.changes
*.buildinfo
output/
!AGENTS.md
!pKVM-IA/
